---
project:
  type: website
  preview:
    port: 4200
    browser: true
    watch-inputs: true
    navigate: true
    timeout: 300

format:
  html:
    search: true
    theme:
      light: [flatly, assets/css/style.scss]
      dark: [darkly, assets/css/style.scss]
    anchor-sections: true
    smooth-scroll: true
    code-link: true
    code-fold: true
    code-overflow: scroll
    code-line-numbers: true
    code-copy: true
    code-tools:
      source: true
      toggle: false
      caption: none
    code-block-bg: true
    css: assets/css/style.scss
    number-sections: false
    lang: en-US
    page-layout: full

execute:
  freeze: auto
  cache: true
  code-line-numbers: true

knitr:
  opts_chunk:
    echo: true
    fig.width: 15

highlight-style: github

website:
  title: falcon
  open-graph: true
  search:
    location: navbar
    type: overlay
    copy-button: true
  page-navigation: true
  site-url: https://pharmaverse.github.io/falcon
  repo-url: https://github.com/pharmaverse/falcon
  repo-branch: main
  cookie-consent: true
  page-footer:
    border: true
    center:
      - text: "This website as well as code examples are licensed under the Apache License, Version 2.0."
  navbar:
    pinned: true
    collapse: true
    logo: ""
    background: primary
    search: true
    right:
      - aria-label: Slack
        href: https://app.slack.com/client/T028PB489D3/C04MQS12MND
        icon: slack
      - aria-label: GitHub
        icon: github
        menu:
          - text: Source Code
            url:  https://github.com/pharmaverse/falcon
          - text: Report a Bug
            url:  https://github.com/pharmaverse/falcon/issues
    left:
      - text: Home
        file: index.qmd
