/* css styles */
h1, h2, h3 {
  text-align: center;
}

.button {
  width: 25%;
  font: bold 16px Arial;
  text-decoration: none;
  background-color: #3CB371;
  color: #FFFFFF;
  margin: 5px;
  padding: 10px 14px 10px 14px;
  border-top: 1px solid #2E8B57;
  border-right: 2px solid #2E8B57;
  border-bottom: 2px solid #2E8B57;
  border-left: 1px solid #2E8B57;
  border-radius: 4px;
}

.divButton{
  display: block;
  margin-left: 24%;
  margin-right: auto;
  width: 100%;
}