/*-- scss:defaults --*/

$primary:  #0B41CD !default;
$fg: #000000 !default;
$bg: #ffffff !default;

/*-- scss:rules --*/

pre {
  background-color: rgba(233, 236, 239, 0.65);
}

code {
  color: inherit;
}
