/*-- scss:defaults --*/

$primary:  #0B41CD !default;
$fg: #000000 !default;
$bg: #ffffff !default;

/*-- scss:rules --*/

pre {
  background-color: rgba(233, 236, 239, 0.65);
}

code {
  color: inherit;
}

/* css styles */
h1, h2, h3 {
  text-align: center;
}

.button {
  width: 25%;
  font: bold 16px Arial;
  text-decoration: none;
  background-color: #3CB371;
  color: #FFFFFF;
  margin: 5px;
  padding: 10px 14px 10px 14px;
  border-top: 1px solid #2E8B57;
  border-right: 2px solid #2E8B57;
  border-bottom: 2px solid #2E8B57;
  border-left: 1px solid #2E8B57;
  border-radius: 4px;
}

.divButton{
  display: block;
  margin-left: 24%;
  margin-right: auto;
  width: 100%;
}


/***************************************/
/*****     flipcard settings       *****/
/***************************************/
.flip-card {
  background-color: transparent;
  width: 150px;
  height: 150px;
  perspective: 1000px; /* required for 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: white;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: #2E8B57;
  color: white;
  transform: rotateY(180deg);
}
