/*-- scss:rules --*/

/* css styles */
.navbar {
  background-color: #323232;
}

.navbar .navbar-brand {
  color: white !important;
}

.navbar li.nav-item a.nav-link span {
  color: white !important;
}

.panel-tabset li.nav-item a.nav-link {
  color: #2E8B57;
}

.panel-tabset li.nav-item a.nav-link.active {
  color: #3CB371;
}
