/*-- scss:defaults --*/

$toc-color: #A3070B;
$navbar-bg: #F8F9FA;
$navbar-fg: #212529;

/*-- scss:rules --*/

/* css styles */
.navbar .navbar-brand {
  color: #212529 !important;
}

.navbar .navbar-tools {
  color: #212529 !important;
}

.navbar li.nav-item a.nav-link span {
  color: #212529 !important;
}

.panel-tabset li.nav-item a.nav-link {
  color: #E21318;
}

.panel-tabset li.nav-item a.nav-link.active {
  color: #A3070B;
}

a:link, a:visited {
  color: #212529;
}

a.page.page-link {
  color: #fff;
}
