/*-- scss:defaults --*/

$toc-color: #E21318;
$navbar-bg: #323232;

/*-- scss:rules --*/

/* css styles */
.navbar .navbar-brand {
  color: white !important;
}

.navbar li.nav-item a.nav-link span {
  color: white !important;
}

.panel-tabset li.nav-item a.nav-link {
  color: #A3070B;
}

.panel-tabset li.nav-item a.nav-link.active {
  color: #E21318;
}

a:link, a:visited {
  color: #fff;
}
