/*-- scss:defaults --*/

$toc-color: #2E8B57;

/*-- scss:rules --*/

/* css styles */
.navbar {
  background-color: #F8F9FA;
}

.navbar .navbar-brand {
  color: #212529 !important;
}

.navbar li.nav-item a.nav-link span {
  color: #212529 !important;
}

.panel-tabset li.nav-item a.nav-link {
  color: #3CB371;
}

.panel-tabset li.nav-item a.nav-link.active {
  color: #2E8B57;
}


