/*-- scss:defaults --*/

$toc-color: #8F0407;
$navbar-bg: #F8F9FA;
$navbar-fg: #212529;

/*-- scss:rules --*/

/* css styles */
.navbar .navbar-brand {
  color: #212529 !important;
}

.navbar .navbar-tools {
  color: #212529 !important;
}

.navbar li.nav-item a.nav-link span {
  color: #212529 !important;
}

.panel-tabset li.nav-item a.nav-link {
  color: #F0181E;
}

.panel-tabset li.nav-item a.nav-link.active {
  color: #8F0407;
}
