/*-- scss:rules --*/

/* css styles */
.navbar {
  background-color: #323232;
}

.navbar .navbar-brand {
  color: white !important;
}

.navbar li.nav-item a.nav-link span {
  color: white !important;
}
